
<html>
<head>
    <title>Artists</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <h1>Artists</h1>
    <ul>
        {% for artist in artists %}
        <li>
            <a href ="/artists/{{ artist.id}}">
            {{ artist.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="/artists/create">
        <button type="button" >Add New Artist</button>
    </a>
    
</body>
</html>
